{% extends 'app/base.html' %}

{% block contenido %}
{% load humanize %}
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <h2 class="text-center" style="font-family: 'Helvetica Neue'">Bolsa de compras</h2>
        <hr>
        <table class="table table-stripped table-hover table-responsive-sm">
            <tr>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Editorial</th>
                <th>Opciones</th>
            </tr>

            {% for manga in manga %}
                <tr>
                    <td>{{ manga.titulo | title }}</td>
                    <td>${{ manga.precio | intcomma }}</td>
                    <td>{{ manga.editorial | title }}</td>
                    <td>
                        <a href="{% url 'carrito' %}" class="btn btn-info btn-sm">Pagar</a>
                        <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}