{% extends 'app/base.html' %}
{% load static %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}


{% block contenido %}
<div class="registro-wrapper">
    <section class="form-register">
        <div class="form-container">
            <h2 class="form-title">Crear Cuenta</h2>
            
            {% if registroCli.non_field_errors %}
                <div class="formulario__alerta-global">
                    {% for error in registroCli.non_field_errors %}
                        <p class="m-0"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="" method="POST" novalidate>
                {% csrf_token %}
                
                <div class="form-row-custom">
                    <!-- Nombres -->
                    <div class="formulario__grupo" id="grupo__nombres">
                        <label for="id_nombres" class="formulario__label">Nombres</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-user"></i>
                            <input type="text" 
                                   name="nombres" 
                                   maxlength="500" 
                                   required 
                                   id="id_nombres" 
                                   class="formulario__input" 
                                   placeholder="Juan" 
                                   value="{{ registroCli.nombres.value|default:'' }}">
                        </div>
                        {% if registroCli.nombres.errors %}
                            {% for error in registroCli.nombres.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Apellidos -->
                    <div class="formulario__grupo" id="grupo__apellidos">
                        <label for="id_apellidos" class="formulario__label">Apellidos</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-user"></i>
                            <input type="text" 
                                   name="apellidos" 
                                   maxlength="500" 
                                   required 
                                   id="id_apellidos" 
                                   class="formulario__input" 
                                   placeholder="Pérez" 
                                   value="{{ registroCli.apellidos.value|default:'' }}">
                        </div>
                        {% if registroCli.apellidos.errors %}
                            {% for error in registroCli.apellidos.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row-custom">
                    <!-- Email -->
                    <div class="formulario__grupo" id="grupo__email">
                        <label for="id_email" class="formulario__label">Correo Electrónico</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-envelope"></i>
                            <input type="email" 
                                   name="email" 
                                   required 
                                   id="id_email" 
                                   class="formulario__input" 
                                   placeholder="juan.perez@correo.com" 
                                   value="{{ registroCli.email.value|default:'' }}">
                        </div>
                        {% if registroCli.email.errors %}
                            {% for error in registroCli.email.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Telefono -->
                    <div class="formulario__grupo" id="grupo__telefono">
                        <label for="id_telefono" class="formulario__label">Teléfono</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-phone"></i>
                            <input type="number" 
                                   name="telefono" 
                                   max="999999999" 
                                   required 
                                   id="id_telefono" 
                                   class="formulario__input" 
                                   placeholder="987654321" 
                                   value="{{ registroCli.telefono.value|default:'' }}">
                        </div>
                        {% if registroCli.telefono.errors %}
                            {% for error in registroCli.telefono.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row-custom">
                    <!-- Contraseña -->
                    <div class="formulario__grupo" id="grupo__password1">
                        <label for="id_password1" class="formulario__label">Contraseña</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-lock"></i>
                            <input type="password" 
                                   name="password1" 
                                   autocomplete="new-password" 
                                   required 
                                   id="id_password1" 
                                   class="formulario__input" 
                                   placeholder="••••••••">
                        </div>
                        {% if registroCli.password1.errors %}
                            {% for error in registroCli.password1.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Confirmar Contraseña -->
                    <div class="formulario__grupo" id="grupo__password2">
                        <label for="id_password2" class="formulario__label">Confirmar Contraseña</label>
                        <div class="formulario__grupo-input">
                            <i class="formulario__icon fa-solid fa-lock"></i>
                            <input type="password" 
                                   name="password2" 
                                   autocomplete="new-password" 
                                   required 
                                   id="id_password2" 
                                   class="formulario__input" 
                                   placeholder="••••••••">
                        </div>
                        {% if registroCli.password2.errors %}
                            {% for error in registroCli.password2.errors %}
                                <p class="formulario__input-error"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="formulario__grupo-btn-enviar">
                    <button type="submit" class="formulario__btn">
                        Registrarse <i class="fa-solid fa-user-plus"></i>
                    </button>
                </div>
            </form>

            <div class="cuentaExistente">
                <span>¿Ya tienes cuenta? </span>
                <a class="linkCuenta" href="{% url 'inicioSecion' %}">Inicia sesión aquí</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}